:root {
  --light-purple: #d8d7f7;
  --main-purple: #9d90be;
  --dark-purple: #6667ab;
  --main-pink: #f8bbcd;
  --dark-pink: #c46fb2;
  --background: #d8d7f780;
  --block-background: #ffffff80;

  --red: #ef4135;
  --red-dark: #a4343a;
  --orange: #ff883e;
  --yellow: #ffcc00;
  --green: #009a44;
  --blue-light: #00a2e1;
  --blue: #0050a4;
  --white: #fff;
  --black: #000;
}

.red {
  background-color: var(--red);
}
.red-dark {
  background-color: var(--red-dark);
}
.orange {
  background-color: var(--orange);
}
.yellow {
  background-color: var(--yellow);
}
.green {
  background-color: var(--green);
}
.blue-light {
  background-color: var(--blue-light);
}
.blue {
  background-color: var(--blue);
}
.white {
  background-color: var(--white);
}
.black {
  background-color: var(--black);
}
