:root {
  --light-purple: #d8d7f7;
  --main-purple: #9d90be;
  --dark-purple: #6667ab;
  --main-pink: #f8bbcd;
  --dark-pink: #c46fb2;
  --background: #d8d7f780;
  --block-background: #ffffff80;
  --level-background: #6667ab80;

  --red: #ef4135;
  --red-dark: #a4343a;
  --orange: #ff883e;
  --yellow: #ffcc00;
  --green: #009a44;
  --blue-light: #1E90FF;
  --blue: #0050a4;
  --white: #fff;
  --black: #000;
}