.entry {
  text-align: center;
  position: relative;

  .brush {
    position: absolute;
    right: -3vw;
    bottom: 17vh;
    opacity: 0.3;
    animation: opacity 3.5s ease-out;

    @keyframes opacity {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 0.3;
      }
    }
    
  }

  &_title {
    height: 65vh;
    width: 100vw;
    font-size: 4rem;
    font-weight: 700;
    text-align: right;
    padding-top: 25vh;
    padding-right: 5vw;
    color: transparent;

    .title {
      background: linear-gradient(90deg, #000, #000, transparent);
      letter-spacing: 3px;

      -webkit-background-clip: text;
      background-clip: text;

      background-repeat: no-repeat;
      background-size: 120%;
      animation: show 3s linear;
      background-position-x: -120%;

      @keyframes show {
        0% {
          background-position-x: 300%;
        }
        100% {
          background-position-x: -120%;
        }
      }
    }
  }
  &_button {
    padding: 0.75rem 1rem;
    font-size: 1.25rem;
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--dark-purple);
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;

    &:hover {
      transform: scale(1.05);
      background-color: var(--dark-purple);
    }
    &:focus{
      background-color: var(--dark-purple);
    }
  }
}

@media screen and (min-width: 768px) {
  .entry {
    .brush {
      right: 1vw;
      bottom: 10vh;
    }
    &_title {
      max-width: 600px;
      height: 60vh;
      padding-top: 30vh;
      padding-right: 4vw;
    }
  }
}