.main {
  text-align: center;

  &_title {
    font-size: 1.75rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  &_country {
    margin-top: 1.5rem;
    text-transform: capitalize;

    .name {
      font-size: 2rem;
    }
    .continent {
      margin-top: 0.75rem;
      font-size: 1rem;
    }
  }
  
  &_wrapper {
    height: 50vh;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .main_block {
      height: 30vh;

      display: flex;
      background-color: var(--block-background);
      box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.2);

      .block {
        border-left: 1px solid #000000;
        height: 100%;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        transition: background-color 0.7s ease-in;
      }
      .block:nth-of-type(1) {
        border: none;
      }

      .block.active {
        border: 3px solid var(--dark-purple);
        cursor: pointer;
      }
      .block.active + .block {
        border-left: 0;
        border-top: 0;
      }
    }

    .main_color {
      height: 16vh;

      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;

      .color {
        width: 25%;
        height: 8vh;
        box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);

        &:hover {
          cursor: pointer;
          transform: scale(1.05);
          opacity: 0.75;
        }
      }
      .color:nth-of-type(1),
      .color:nth-of-type(2),
      .color:nth-of-type(3) {
        width: 33.3%;
      }
    }
  }

  &_wrapper.vertical {
    .main_block {
      flex-direction: column;
    }
    .block {
      border-left: 0;
      border-top: 1px solid #000000;
    }
  }
  
  &_button {
    margin-top: 2.5rem;
    padding: 0.75rem 1rem;
    font-size: 1.25rem;
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--dark-purple);
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;

    &:hover {
      transform: scale(1.05);
      background-color: var(--dark-purple);
    }
    &:focus{
      background-color: var(--dark-purple);
    }
    &:disabled {
      background-color: var(--main-purple);
      cursor: not-allowed;
    }
  }
  a {
    display: block;
    margin-top: 2rem;
    font-size: 0.5rem;
  }
}

@media screen and (min-width: 768px) {
  .main {
    &_title {
      font-size: 2.5rem;
      margin-top: 0.75rem;
    }
    &_country {
      margin-top: 2rem;
    }

    &_wrapper {
      height: 45vh;

      .main_color {
        padding: 0 1rem;
        height: 10vh;
        background-color: var(--block-background);
        box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.2);
        border-radius: 10px;

        display: flex;
        justify-content: space-around;
        align-items: center;

        .color {
          height: 35px;
          width: 35px;
          border-radius: 50%;
          box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.2);

          &:hover {
            cursor: pointer;
            transform: scale(1.05);
            opacity: 0.75;
          }
        }
        .color:nth-of-type(1),
        .color:nth-of-type(2),
        .color:nth-of-type(3) {
          width: 35px;
        }
      }
    }
  }
}